{% extends "base.html" %}
{% block content %}
<!-- Authentication template section -->
<section class="auth-section" style="animation-name: appear; animation-duration: 1s;" x-data>
    <div>
        <h1 class="auth-title">{% block title %}{% endblock %}</h1>
        <form method="post" x-ref="form">
            <div class="space-y-4">
                {% block form_fields %}
                {% endblock %}
                <button type="button" class="reset-btn float-right" @click="$refs.form.reset()">Clean</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}