{% extends "base.html" %}
{% block content %}
<section class="max-w-md mx-auto my-14">
    <div class="shadow-lg rounded-xl p-6 bg-gray-300">
        <h1 class="text-2xl text-center font-bold py-10 ">{%block title%}{%endblock%}</h1>
        <form method="post">
            {% block form_fields %}
            {% endblock %}
        </form>
    </div>
    <a href="/login" class="flex text-center py-4 w-1/2 mx-auto hover:text-blue-500 transition-colors">Already have account? Sign up</a>
</section>
{% endblock %}