<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- Page title -->
        <title>Home</title>
        <!-- Link to main stylesheet -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
        <!-- Link to quill stylesheet -->
        <link href="{{ url_for('static', filename='quill/quill.snow.css') }}" rel="stylesheet" />
        <!-- Load Alpine.js locally -->
        <script defer src="{{ url_for('static', filename='alpine/alpine.min.js') }}"></script>
    </head>
    <body class="flex flex-col min-h-screen">
        <!-- Main header section -->
        <header class="header-main">
             <nav class="nav-main">
                <!-- Site logo -->
                <a href="/" class="home">NoteSharing</a>
                <div class="flex">
                    <div class="p-4 space-x-4 ">
                        <!-- Navigation links -->
                        <a class="nav-item" href="{{url_for('notes.create_note')}}">Create Note</a>
                        <a class="nav-item" href="{{url_for('notes.my_notes')}}">View Notes</a>  
                        <a class="nav-item" href="{{url_for('home.pricing')}}">Pricing</a>  
                        <a class="nav-item" href="{{url_for('auth.profile')}}">Profile</a>
                        <span>|</span> 
                        <!-- Conditional login/logout links based on user authentication status -->
                        {% if current_user.is_authenticated %}
                            <a class="nav-item" href="{{url_for('auth.logout')}}">Logout</a>
                        {% else %}
                            <a class="nav-item" href="{{url_for('auth.login')}}">Sign In</a>
                            <a class="nav-item" href="{{url_for('auth.register')}}">Sign Up</a>
                        {% endif %}
                    </div>
                </div>
             </nav>
        </header>

        <!-- Content block for pages -->
        <main class="home-section">
            {% block content %}
            {% endblock %}
        </main>

        <!-- Footer section -->
        <footer class="footer">
            <div class="container mx-auto py-4">
                <!-- Copyright info -->
                <p class="text-gray-600 text-center">© 2025 NoteSharing</p>
            </div>
            <div class="flex gap-6 items-center justify-center mb-4">
                <!-- Footer navigation links -->
                <a href="{{url_for('home.terms_of_use')}}" class="footer-link">Terms Of Use</a>
                <a href="{{url_for('home.privacy_policy')}}" class="footer-link">Privacy Policy</a>
            </div>
        </footer>
    </body>
</html>
