<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        {% block head %}{% endblock %}
    </head>
    <body class="flex flex-col min-h-screen">
        <header class="bg-[#333333] p-4 border-b border-[#4A90E2]">
             <nav class="text-white container mx-auto flex justify-between items-center">
                <a href="/" class="text-xl font-bold">NoteSharing</a>
                <div class="flex">
                    <div class="p-4 space-x-4 ">
                        <a class="nav-item" href="{{url_for('notes.create_note')}}">Create Note</a>
                        <a class="nav-item" href="{{url_for('notes.my_notes')}}">View Notes</a>  
                        <a class="nav-item" href="{{url_for('home.pricing')}}">Pricing</a>  
                        <a class="nav-item" href="{{url_for('auth.profile')}}">Profile</a> 
                    </div>
                {% if current_user.is_authenticated %}
                    <a class="p-4 space-x-4 hover:text-blue-500 transition-colors" href="/logout">Logout</a>
                {% else %}
                    <a class="text-white hover:bg-gray-700 transition-colors bg-gray-600 p-4 rounded-lg"href="{{url_for('auth.login')}}">Sign In</a>
                    <a class="text-white hover:bg-gray-700 transition-colors bg-gray-600 p-4 rounded-lg"href="{{url_for('auth.register')}}">Sign Up</a>
                {% endif %}
                </div>
             </nav>
        </header>
        <main class="home-section">
            {% block content %}
            {% endblock %}
        </main>
        <footer class="bg-gray-100 text-center">
            <div class="container mx-auto py-4">
                <p class="text-gray-600 text-center">© 2025 NoteSharing</p>
            </div>
            <div class="flex gap-6 items-center justify-center mb-4">
                <a href="{{url_for('home.terms_of_use')}}" class="text-gray-600 hover:underline hover:text-gray-900 transition-colors" href="">Terms Of Use</a>
                <a href="{{url_for('home.privacy_policy')}}"class="text-gray-600 hover:underline hover:text-gray-900 transition-colors" href="">Privacy Police</a>
            </div>
        </footer>
    </body>
</html>