{% extends "base.html" %}

{% block head %}
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <section class="w-1/2 mx-auto my-4 p-4 rounded-lg shadow-lg bg-white" style="animation-name: appear; animation-duration: 1s;">
        <h1 class="text-4xl text-center font-black py-10 ">Create Your Note</h1>
        <form method="post" id="note-form">
            {{form.hidden_tag()}}
            <div class="w-1/2 mx-auto">
                {{form.title(class="input-field ", placeholder=form.title.label.text)}}
            </div>
            {{form.note(id="flask-form-note", style="display: none;")}}
            <div class="max-w-4xl mx-auto my-14">
                <div id="editor" style="height: 600px;"/>
            </div>
            <div class="flex justify-center pt-4">
                {{form.submit(class="submit-btn")}}
            </div>
        </form>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>

    <script>
        const quill = new Quill('#editor', {
            theme: 'snow'
        });
            
        const form = document.getElementById('note-form');
        const hiddenField = document.getElementById('flask-form-note');
        form.addEventListener('submit', function (e) {
            hiddenField.value = quill.root.innerHTML;
        });
    </script>
{% endblock %}
