<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Transcriber Web App</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        {% if success %}REGISTERED{%endif%}
        <header class="">
            <h1>ds</h1>
        </header>
        <form method="post" action="/create_note">
            <textarea name="note_text" id=""></textarea>
            <button type="submit">Create note</button>
        </form>
    </body>
</html>
