{% extends "auth.html" %}

{%block title%}
    Enter your credentials
{%endblock%}

{% block form_fields %}
    {{form.hidden_tag()}}
    {{form.username.label(class="block text font-bold")}}
    {{form.username(class="input-field")}}
    {{form.password.label(class="block text font-bold")}}
    {{form.password(class="input-field")}}
    <div class="w-full text-right mb-4">
        <a href="{{url_for('auth.register')}}" class="text-sm text-blue-600 hover:underline transition-colors">
            Don't have an account? Sign up
        </a>
    </div>
    {{form.submit(class="submit-btn")}}
{% endblock %}

