{% extends "base.html" %}
{% block content %}
    {% if notes_count > 0 %}
        <form method="post">
            {{search_form.hidden_tag()}}
            <div class="p-4 flex w-full md:w-1/2 mx-auto mt-14 space-x-2 align-middle">
                {{search_form.search_field(class="input-field", placeholder="Search notes...")}}
                <button type="submit" class="submit-btn">
                    Search
                </button>
            </div>
                
            
        </form>
        <section class="note-section">
            {% if notes.count() > 0 %}
                <h1 class="text-2xl text-center font-bold py-4 ">My notes</h1>
                <form method="get">
                    {{filter_form.hidden_tag()}}
                    {{filter_form.filter_dropdown(class="mb-10 p-2 rounded-lg float-right", onchange="this.form.submit()")}}
                </form>
            {% elif search_isActive and notes.count() == 0 %}
                <h2 class="flex justify-center mt-4 text-xl font-semibold text-gray-600">No results found for your search.</h2>
            {% endif %}
            {% for note in notes.all() %}
            <div class="note-item">
                <a href="note/{{note.id}}" class="flex space-x-4 p-4">
                    <div class="w-1/2">
                        <p class="font-semibold text-xl">{{note.title}}</p>
                        <p>File created: {{note.start_date.strftime("%Y-%m-%d %H:%M")}}</p>
                        <p>Last edit: {{note.last_edit.strftime("%Y-%m-%d %H:%M")}}</p>
                    </div>
                    <div class="w-1/4">
                        <span class="font-semibold">tags, tags, tags,</span>
                    </div>
                    <input type="checkbox" data-id="{{ note.id }}" {% if note.is_favorite %}checked{% endif %} onchange="updateTaskStatus(this)">
                    <form class="w-1/4 my-auto" method="post" action="/note/{{ note.id }}/delete_note">
                        <button class="text-red-600 float-right hover:underline text-sm my-auto">Delete</button>
                    </form>
                </a>     


            </div>
            {%endfor%}
        {% else %}      
            <div class="flex flex-col items-center justify-center">
                <h1 class="text-2xl text-center font-bold py-10 ">You have no notes</h1>
                <a href="{{ url_for('notes.create_note') }}" class="submit-btn">Create note</a></div>
            </div>
        {% endif %}
        </section>
        <script>
            function updateTaskStatus(checkbox) {
                const taskId = checkbox.dataset.id;
                const isDone = checkbox.checked;
    
                fetch('/set-favorite', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        id: taskId,
                        is_done: isDone
                    })
                })
                .then(res => res.json())
                .then(data => {
                    if (!data.success) {
                        alert("Failed to update task!");
                    }
                })
                .catch(error => {
                    console.error("Error:", error);
                });
            }
        </script>

{% endblock %}
