{% extends "base.html" %}
{% block content %}
    <section class="bg-white rounded-lg w-1/4 shadow-xl mx-auto my-14">
        <h1 class="text-4xl text-center p-4 font-black">Profile</h1>
        <div class="p-4 space-y-3">
            <div class="p-4 text-xl border-b font-bold">
                <span class="font-normal">Username: {{current_user.username}}</span>
            </div>
            <div class="p-4 text-xl border-b font-bold">
                <span class="font-normal">Plan: {{current_user.plan}}</span>
            </div>
            <div class="p-4 text-xl border-b font-bold">
                <span class="font-normal">Notes: {{user_notes.count()}}</span>
            </div>
            <a class="submit-btn mt-8" href="{{url_for('auth.change_password')}}">Change password</a>

        </div>

    </section>
{% endblock %}